{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Screencast Backend</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="imgBox">
        <img href="https://screencast.trennds.com/" src="{% static 'images/sc.png' %}" alt="Mega Charizard X">
      </div>
      <div class="contentBox">
        <h2><a href="https://screencast.anweshadan.vercel.app/" style="color: #ffffff; text-decoration: none;">Screencast</a></h2>
        <div class="type">
          <h3>2020</h3>
          <div class="types">
            <span><a href="https://nitdgplug.org/" style="color: #31afdd; text-decoration: none;">A GLUG</a></span>
            <span>Production</span>
          </div>
        </div>
        <div class="type">
          <h3><a href="https://nitdgp.ac.in/" style="color: #31afdd; text-decoration: none;">NIT</a></span></h3>
          <div class="types">
            <span> <a href="https://nitdgp.ac.in/" style="color: #31afdd; text-decoration: none;">Duragpur</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
