{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Screencast Backend</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="imgBox">
        <img src="{% static 'images/sc.png' %}" alt="Mega Charizard X">
      </div>
      <div class="contentBox">
        <h2>ScreenCast</h2>
        <div class="type">
          <h3>2020</h3>
          <div class="types">
            <span>A GLUG</span>
            <span>Production</span>
          </div>
        </div>

        <div class="type">
          <h3>NIT</h3>
          <div class="types">
            <span>Duragpur</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
